.photo-grid {
    margin: 92px auto 0;
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px){
    .photo-grid {
        max-width: calc(100% - 64px);
        gap: 16px;
    }
}
@media all and (max-width: 425px) {
    .photo-grid {
        max-width: calc(100% - 32px);
        gap: 12px;
        grid-template-columns: 100%;
        margin-top: 64px;
    }
}

