.places {
    max-width: calc(100% - 296px);
    margin: 92px auto 92px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 96px);
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .places {
        max-width: calc(100% - 48px);
    }
}
@media all and (max-width: 425px) {
    .places {
    max-width: 100%;
    }
}