.cover__subtitle {
    max-width: 30%;
    margin: 32px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    z-index: 2;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__subtitle {
        max-width: 35%;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .cover__subtitle {
        max-width: 47%;
    }
}
@media all and (max-width: 425px) {
    .cover__subtitle {
        max-width: 83.5%;
        font-size: 14px;
        line-height: 1.1;
        margin: 16px 0 0;
    }
}