.lead__image {
    max-width: 100%;
    min-height: 740px;
    background-image: url(../../../images/kalegin-michail-179870-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .lead__image {
        min-height: 580px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px){
    .lead__image {
        min-height: 480px;
    }
}
@media all and (max-width: 420px) {
    .lead__image {
        min-height: 200px;
    }
}