.cover {
    max-width: calc(100% - 96px);
    margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover {
        max-width: 100%;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .cover {
        max-width: 100%;
        margin: 0;
    }
}
@media all and (max-width: 425px) {
    .cover {
        max-width: 100%;
    }
}